@import "tailwindcss";

.bg-gradient {
  @apply bg-gradient-to-br from-slate-900 via-gray-900 to-slate-800 min-h-screen flex items-center justify-center p-4 text-white;
}
.bg-dashboard {
  @apply min-h-screen flex items-center justify-center
         bg-gradient-to-br 
         from-slate-950 
         via-slate-900 
         to-slate-800
         text-slate-100;
}
